<div class="flex items-center justify-center w-10/12">
  <span class="sm:ml-3">
    <button  type="button" (click)="start()"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      Start
    </button>
  </span>
  <span class="sm:ml-3">
    <button  type="button" (click)="stop()"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      Stop
    </button>
  </span>
  <span class="sm:ml-3">
    Counter:
    {{counter}}
  </span>
</div>
